<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>HowHau</title>
</head>
<body>
    <footer>
        Małgorzata Farbotko & Adam Mikołajczak
    </footer>
    <header>
        <img src="/static/logo3.png" alt="Logo">
    </header>

    <main>
        <section class="intro">
            <h1>Jakiego pieska pragniesz?</h1>
            <p>Podziel się, jak wyobrażasz sobie swojego idealnego towarzysza, a my znajdziemy dla ciebie idealną rasę!</p>
        </section>
        <form id="textForm">
            <textarea id="textInput" rows="2" cols="50" placeholder="Wpisz tekst..."></textarea>
            <br>
            <button type="submit">Wyślij</button>
        </form>

        <h1 id="result"></h1>
        <div id="dogImages"></div>
    </main>

    <script>
        document.getElementById('textForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const text = document.getElementById('textInput').value;

            const response = await fetch('/classify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ text }),
            });

            const data = await response.json();
            document.getElementById('result').innerText = `Twój wymarzony pies to ${data.class}!`;

            
            const breed = data.eng_name;
            const imageResponse = await fetch(`https://dog.ceo/api/breed/${breed}/images`);
            const imageData = await imageResponse.json();

            const imagesContainer = document.getElementById('dogImages');
            imagesContainer.innerHTML = ''; 
            if (imageData.status === 'success') {
                imageData.message.slice(0,1).forEach((imageUrl) => { 
                    const img = document.createElement('img');
                    img.src = imageUrl;
                    img.alt = `Zdjęcie psa rasy ${breed}`;
                    img.style.width = '200px';
                    img.style.borderRadius = '12px'; 
                    img.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';
                    img.style.filter = 'hue-rotate(30deg)'; 
                    imagesContainer.appendChild(img);
                });
            } else {
                imagesContainer.innerText = 'Nie udało się pobrać zdjęć.';
            }
        });
    </script>
</body>
</html>
